{% load static %}

<footer>
    
    <!-- Social media icons -->
    
        <a  href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
            <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn Icon" class="social-icon ms-3">
        </a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
            <img src="{% static '/icons/facebook-round-color-icon.svg' %}" alt="Facebook Icon" class="social-icon ms-3">
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
            <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon ms-3">
        </a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
            <img src="{% static '/icons/twitter-square-color-icon.svg' %}" alt="Twitter Icon" class="social-icon ms-3">
        </a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
            <img src="{% static '/icons/youtube-color-icon.svg' %}" alt="Youtube Icon" class="social-icon ms3">
        </a>
    

</footer>